{% extends "base.html" %}
{% load static %}


{% block content %}

<div id="header-block" class="container-fluid">
    <div id="logo-tile"></div>
    <h1>About Us</h1>
</div>

<div class="container-fluid text-container">
    <div>
        <h1>intro section</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div id="about-us-img-1" class="col-md"></div>
        <div id="background-col-container">
            <h1 class="extra-padding-top">Our Values</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
        <div id="about-us-img-2" class="col-md"></div>
    </div>
</div>

<div class="container">
    <div class="text-container">
        <h1 class="extra-padding-top">Support More</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="row">
        <div id="about-us-img-3" class="col-md"></div>
        <div id="background-col-container" class="links-container">
            <a class="text-decoration-none"><p>link</p></a>
            <hr>
            <a class="text-decoration-none"><p>link</p></a>
            <hr>
            <a class="text-decoration-none"><p>link</p></a>
            <hr>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="sign-up-container">
        <h1>Keep up to date with Us</h1>
        <hr>
        <a href="{% url 'account_signup' %}" class="btn active" role="button" aria-pressed="true">Sign Up</a>
    </div>
    <div class="bk-to-store-link">
        <p>Back to Store</p>
        <hr>
    </div>
</div>

{% endblock %}