{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- header -->
<div class="container-fluid" id="index-header-container">
    <div class="row">
        <div class="col-12">
            <h1>Welcome Home...</h1>    
        </div>
    </div>
</div>

<div class="container-fluid text-container">
    <p>Bringing beautiful homewear from the Artisans of Peru right to your <strong>Home</strong></p>
    <div class="col-sm custom-link">
        <a class="text-decoration-none" href="{% url 'products' %}">Shop the range</a>
        <hr>
    </div>
</div>

<!-- category images-->
<div class="container-fluid image-container">
    <div class="row">
        <div id="category-img-1" class="col-md">
            <a class="text-decoration-none" href="{% url 'products' %}?category=Ceramics"><h1>Ceramics</h1></a>
        </div>
        <div id="category-img-2" class="col-md">
            <a class="text-decoration-none" href="{% url 'products' %}?category=Mirrors"><h1>Mirrors</h1></a>
        </div>
        <div id="category-img-3" class="col-md">
            <a class="text-decoration-none" href="{% url 'products' %}?category=Textiles"><h1>Textiles</h1></a>
        </div>
    </div>
</div>

<!-- values section and connect to about page -->
<div id="background-col-container" class="container-fluid text-container">
    <h1>True to authenticity. 
        Fair to the maker.
    </h1>
    <p>Find out more about how we work and our mission to bring the beauty of Peru into your homes in a fair and honest way.</p>
    <div class="custom-link">
        <a class="text-decoration-none" href="{% url 'about' %}">About CA</a>
        <hr>
    </div>
    <div id="ehtos-image" class="col-sm"></div>
</div>

<!-- sign up section -->
<div class="container-fluid">
    <div class="email-sign-up-container">
        <h1>Be Inspired</h1>
        <hr>
        <p>Sign up to our newletter for the latest updates and home inspiration</p>
        <div class="form-floating col-sm-12 col-md-6 mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>
    </div>
</div>


{% endblock %}

{% block postloadjs %}
    {{ block.super }}
{% endblock %}