h1, h2, h3, h5 {
    font-family: 'Libre Bondi', serif;
    text-transform: unset;
    font-weight: 300;
    color: #6D6155;
}

/* links */
.update-link,
.remove-item {
    cursor: pointer;
    font-size: 14px;
}

td .remove-item:hover{
    color: #B65555;
}

td .update-link:hover {
    color: #A4917E;
}


/* header */
.bag-header-container {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.bag-header-container h1 {
    font-size: 45px;
    color: #A4917E;
}

/* form */
.tabel-responsive {
    margin-bottom: 5rem;
}

.table {
    font-family: 'Libre Bondi', serif;
}

.table th {
    color: #6D6155;
}

.table td h5 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.table .form-control {
    border: none;
    padding: none;
    text-align: center;
}

.input-group-prepend-bag .btn {
    padding: 0;
    background-color: transparent;
    font-size: 12px;
}

.input-group-append-bag .btn {
    padding: 0;
    background-color: transparent;
    font-size: 12px;
}

.update-form input {
    background-color: transparent;
}


/* shopping bag empty  */
#bag-empty-container {
    height: auto;
    margin-bottom: 12rem;
}

#bag-empty-container h2 {
    color: #A4917E;
    text-align: left;
}

/* ------------------------------------------ media queries */

/*  small devices (phones, 600px to 768px) */
@media only screen and (min-width: 600px) and (max-width: 768px) {

    .table .input-group {
        padding: 2px;
        width: 50%;
    }

}

/*  medium to large devices (ipads and latops, 768px to 1200px) */
@media only screen and (min-width: 768px) and (max-width: 1200px) {
    
    .table .input-group {
        padding: 2px;
        width: 50%;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .table th {
        font-size: 22px;
    }

    .table td p {
        font-size: 20px;
    }

    .table td h5 {
        font-size: 22px;
    }

    .table .input-group {
        padding: 2px;
        width: 50%;
    }

    .update-link,
    .remove-item {
    font-size: 16px;
    }

    .input-group-prepend-bag .btn {
        font-size: 14px;
    }
    
    .input-group-append-bag .btn {
        font-size: 14px;
    }

}