{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}

<!-- header -->
<!-- <div class="container-fluid bag-header-container">
    <div class="row">
        <div class="col-12">
            <h1>Checkout Complete</h1>
        </div>
    </div>
</div> -->

<div class="container-fluid bag-header-container">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <h2>Thank You for your purchase</h2>
            <p class="mt-4">Your order information is below. A confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
            <a class="text-decoration-none" href="{% url 'products' %}?"><h2 class="mt-4 mb-4">Shop More</h2></a>
        </div>
        <div class="col-sm-12 col-lg-6 background-colour" id="background-col-container">
            <div id="checkout-success-img-1">
                <a class="text-decoration-none" href="{% url 'products' %}?category=Textiles"><h1>Shop Rugs</h1></a>
            </div>
        </div>
    </div>
</div>





{% endblock %}