{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}

<div class="container-fluid checkout-success-container">
    <div class="row m-0">
        <div class="col-12 text-center mb-4">
            <h2>Thank You</h2>
            <p class="mt-4">Your summary is below. A confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
            <p>We hope to see you again soon.</p>
            <p>CA x</p>
        </div>
        <!-- order summary -->
        <div class="col-xs-12 col-sm-12 col-md-6 order-summary-container">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 mb-4 text-center">
                        <h2>Order summary</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 pl-0">
                        <p>Order ID</p>
                    </div>
                    <div class="col-6">
                        <p>{{ order.order_id }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 pl-0">
                        <p>Order Date</p>
                    </div>
                    <div class="col-6">
                        <p>{{ order.order_date }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col pl-0">
                        <hr>
                        <p>Details</p>
                    </div>
                </div>
                {% for item in order.lineitems.all %}
                <div class="row">
                    <div class="col-3 pl-0">
                        <p class="small">
                            {{ item.product.name }}
                        </p>
                    </div>
                    <div class="col-6">
                        <p class="small">{{ item.quantity }} X £{{ item.product.price }} each</p>
                    </div>
                </div>
                {% endfor %}
                <!-- delviery address -->
                <div class="row">
                    <div class="col pl-0">
                        <hr>
                        <p>Delivery address:</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 pl-0">
                        <p>Full Name</p>
                    </div>
                    <div class="col-6">
                        <p>{{ order.full_name }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 pl-0">
                        <p>Line Address 1</p>
                    </div>
                    <div class="col-6">
                        <p>{{ order.street_address1 }}</p>
                    </div>
                </div>
                {% if order.street_address2 %}
                <div class="row">
                    <div class="col-3 pl-0">
                        <p>Line Address 2</p>
                    </div>
                    <div class="col-6">
                        <p>{{ order.street_address1 }}</p>
                    </div>
                </div>
                {% endif %}
                {% if order.county %}
                <div class="row">
                    <div class="col-3 pl-0">
                        <p>County</p>
                    </div>
                    <div class="col-6">
                        <p>{{ order.county }}</p>
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col-3 pl-0">
                        <p>Town or City</p>
                    </div>
                    <div class="col-6">
                        <p>{{ order.town_or_city }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 pl-0">
                        <p>Postal Code</p>
                    </div>
                    <div class="col-6">
                        <p>{{ order.postcode }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 pl-0">
                        <p>Country</p>
                    </div>
                    <div class="col-6">
                        <p>{{ order.country }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 pl-0">
                        <p>Contact Number</p>
                    </div>
                    <div class="col-6">
                        <p>{{ order.contact_number }}</p>
                    </div>
                </div>
                <!-- billing -->
                <div class="row">
                    <div class="col pl-0">
                        <hr>
                        <p>Billing Info:<p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 pl-0">
                        <p>Sub Total</p>
                    </div>
                    <div class="col-6">
                        <p>£{{ order.order_sub_total }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 pl-0">
                        <p>Delivery</p>
                    </div>
                    <div class="col-6">
                        <p>£{{ order.delivery_cost }}</p>
                    </div>
                </div>
                <!-- order total-->
                <div class="row">
                    <div class="col-3 pl-0">
                        <p>Order Total</p>
                    </div>
                    <div class="col-6">
                        <p>£{{ order.order_grand_total }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- link to all products section -->
<div class="container container-center">
    <div class="row">
        <div class="bk-to-store-link btn">
            <a class="text-decoration-none" href="{% url 'products' %}"><h1>Back to Store</h1></a>
        </div>
    </div>
</div>







{% endblock %}