{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block content %}

<!-- header -->
<div class="container-fluid bag-header-container">
    <div class="row">
        <div class="col-12">
            <h1>Your Bag</h1>
        </div>
    </div>
</div>


<!-- render shopping bag items -->
<div class="container-fluid">
    <div class="row">
        <div class="col">
            
        </div>
    </div>
</div>


<div class="col-12 back-to-all-product-link">
    <a href="{% url 'products' %}"><i class="fa-solid fa-angle-left mr-1"></i>Back to all products</a>
</div>

{% endblock %}