
* {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h5 {
    font-family: 'Libre Bondi', serif;
    text-transform: unset;
    font-weight: 300;
    color: #6D6155
}

/* header container */
.allauth-header {
    text-align: center;
    height: auto;
    margin-top: 20%;
    margin-bottom: 10%;
}

hr {
    margin: 0 auto;
}

.allauth-header h2 {
    font-size: 30px;
}

/* main container  */
.container-center {
    text-align: center;
}

.container-center p {
    font-size: 16px;
    color: #6D6155;
}

.container-center a {
    color: #6D6155;
}

/* all auth form  */
.container-center form {
    font-family: 'Libre Bondi', serif;
    color: #6D6155;
    text-align: left;
}

.container-center .form-group {
    font-family: 'Libre Bondi', serif;
    color: #6D6155;
    text-align: left;
}

.form-check-input:checked {
    background-color: #A4917E;
    border-color: transparent;
}

.container-center button {
    border: none;
    background-color: #EFE9E2;
    font-family: 'Libre Bondi', serif;
    padding: 5px 40px;
    color: #6D6155;
}

.form-control {
    border: solid #A4917E;
}


/* push to center container */
.container-center .push-to-center {
    margin: 0 auto;
}

/* connect to signup continer in sign up page */
.connect-to-signup {
    margin-top: 2rem;
    margin-bottom: 5rem;
}

/* confirm button in email_confirm.html */
.container-center .confirm {
    text-align: center;
}

/* form id text align to center buttons */
.container-center #logout-form {
    text-align: center;
}

.container-center #signup_form {
    text-align: center;
}

.container-center #login {
    text-align: center;
}

/* extra margin or padding */
.extra-margin-bottom {
    margin-bottom: 8rem;
}



/* ------------------------------------------ media queries */

/*  small devices (phones, 600px to 768px) */
@media only screen and (min-width: 600px) and (max-width: 768px) {

    .allauth-header {
        margin-top: 5%;
        margin-bottom: 5%;
    }

}

/* Medium devices (large phones and tablets, 768px to 992px) */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .allauth-header {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .allauth-header hr {
        width: 60%;
    }
}

/* Large devices (laptops/desktops, 992px to 1200px) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {

    .allauth-header {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .allauth-header hr {
        width: 20%;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .allauth-header {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .allauth-header hr {
        width: 20%;
    }

    
}