/* google font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,100;1,300;1,400&family=Quattrocento:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
}

h1 {
    font-family: Quattrocento, serif;
    text-transform: unset;
    font-weight: 300;
    font-size: 40px;
}

body {
    background-color: white;
}

/* ------------------------------------------ nav bar */

.bg-light {
    border: none;
}

.navbar {
    font-family: Quattrocento, serif;
    font-weight: 200;
}

.dropdown-menu {
    border: none;
}

.navbar .navbar-brand {
    font-size: 45px;
}

.btn-primary {
    background-color: #FFDDD9;
}

.btn {
    font-size: 20px;
    text-transform: unset;
    color: black;
    font-family: Quattrocento, serif;
}

/* ------------------------------------------ index page  */

#header-block {
    background-color: #FCF9F9;
    height: 50vw;
    width: 100vw;
}

#header-block h1 {
    text-align: center;
    padding-top: 25%;
}


/* ------------------------------------------ media queries */

/*  small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .navbar .navbar-brand {
        display: none;
    }

    #header-block {
        height: 100vw;
    }
    
    #header-block h1 {
        font-size: 30px;
    }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #header-block h1 {
        padding-top: 10%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #header-block h1 {
        padding-top: 10%;
    }
    

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

