/* google font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,100;1,300;1,400&family=Libre+Bodoni&display=swap');


* {
	margin: 0;
	padding: 0;
}

h1, h2, h3 {
    font-family: 'Libre Bondi', serif;
    text-transform: unset;
    font-weight: 300;
    color: #6D6155
}

p {
    font-family:'Libre Bondi', serif;
}

a {
    font-family: 'Libre Bondi', serif;
}

body {
    background-color: white;
}

/* ------------------------------------------ nav bar */

.bg-light {
    border: none;
}

.navbar {
    font-family: 'Libre Bondi', serif;
    font-weight: 200;
    color: #A4917E;
}

.navbar-light .navbar-brand {
    letter-spacing: 4px;
    color: #A4917E;
}

.navbar-light .navbar-brand:hover {
    color: #6D6155;
}

.navbar-light .navbar-nav .nav-link {
    color: #C8C1B9;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #6D6155;
}

.dropdown-menu {
    border: none;
    font-family: 'Libre Bondi', serif;
}

.dropdown-menu a {
    color: #C8C1B9;
}

.dropdown-menu a:active {
    background-color: #C8C1B9;
}

.dropdown-menu a:hover { 
    color: #6D6155;
}

#shopping-cart-icon {
    color: #A4917E;
}

#shopping-cart-icon:hover {
    color: #6D6155
}

/* ------------------------------------------ footer */

footer {
    position: relative;
    clear: both;
    height: auto;
    width: 100%;
    background-color: #EFE9E2;
    text-align: center;
}

footer p {
    color: #6D6155;
}

footer hr {
    width: 45%;
    margin: 0 auto;
}

.social-media-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    padding-top: 25%;
}

.social-media-icons a {
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 25px;
    color: #6D6155;
}

.social-media-icons i:hover{
    color: #A4917E;
}

#small-print {
    font-family: 'Libre Bondi', serif;
    font-size: 12px;
    color: #6D6155;
    text-align: center;
    padding-bottom: 25%;
}

/* ------------------------------------------ buttons */

.btn {
    background-color: #F3ECE4;
    font-size: 20px;
    font-weight: 300;
    text-transform: unset;
    color: #6D6155;
    font-family: 'Libre Bondi', serif;
}

.btn:hover {
    color: #A4917E;
}

.btn-lng a:hover {
    color:white;
}

/* ------------------------------------------ back to top scroll */

#back-to-top-arrow {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    color: #6D6155; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    font-size: 25px; /* Increase font size */
    background-color: transparent;
}

#back-to-top-arrow:hover i {
    color: #C8C1B9;
    
}

/* ------------------------------------------ toasts */

.message-container {
    position: fixed;
    top: 90px;
    right: 15px;
    z-index: 99999999999;
}

.edit-toast {
    overflow: visible;
    background-color: #EFE9E2;
    font-family:'Libre Bondi', serif;
}

.toast-capper {
    height: 2px;
}

/* ------------------------------------------ index page  */

#header-block {
    background-color: #EFE9E2;
    text-align: center;
    width: 100vw;
    height: 550px;
    margin-bottom: 5rem;
}

#header-block h1 {
    font-size: 35px;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 3rem;
    color: #6D6155;
}

#header-block #logo-tile {
    background-color: white;
    height: 75%;
    width: 80%;
    background-image: url("/media/ca_logo.png");
    background-repeat: no-repeat;
	background-size: cover;
	background-position: 40%;
	overflow: hidden;
    display: inline-block;
    margin: 0 auto
}

.text-container {
    margin-bottom: 5rem;
    text-align: center;
}

.text-container h1 {
    font-size: 30px;
    margin-bottom: 2rem;
}

.text-container p {
    margin: 10% 5% 10%;
    padding-bottom: 2rem;
    font-size: 20px;
}

.text-container hr {
    border: 1px solid;
    color: #6D6155;
    width: 50%;
    margin: 0 auto;
}

.text-container .custom-link a {
    font-size: 30px;
    color: #6D6155;
}

.text-container .custom-link a:hover {
    color: #A4917E;
}

.image-container h1 {
    color: white;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 5rem;
}

.image-container h1:hover {
    color: #6D6155;
}

.image-container #category-img-1 {
    background-color: white;
    background-image: url("/media/pink_cups.jpg");
    background-repeat: no-repeat;
	background-size: cover;
	background-position: 40%;
	overflow: hidden;
    height: 600px;
    width: 100%;
}

.image-container #category-img-2 {
    background-color: #C8C1B9;
    background-image: url("/media/sun_mirror_gold.jpg");
    background-repeat: no-repeat;
	background-size: cover;
	background-position: 40%;
	overflow: hidden;
    height: 600px;
    width: 100%;
}

.image-container #category-img-3 {
    background-color: #EFE9E2;
    background-image: url("/media/chakana_rug.jpg");
    background-repeat: no-repeat;
	background-size: cover;
	background-position: 40%;
	overflow: hidden;
    height: 600px;
    width: 100%;
}

#background-col-container {
    background-color: #F3ECE4;
    padding-bottom: 4rem;
    text-align: center;
}

#background-col-container #ehtos-image {
    background-color: #C8C1B9;
    background-image: url('/media/ethos-image.jpg');
    background-repeat: no-repeat;
	background-size: cover;
	background-position: 40%;
	overflow: hidden;
    height: 600px;
    width: 100%;
    margin-top: 1rem;
}

#background-col-container h1 {
    font-size: 35px;
    padding-top: 7rem;
    padding-bottom: 2rem;
}

#background-col-container .custom-link a {
    font-size: 25px;
}

/* ------------------------------------------ About */

#about-us-img-1 {
    background-color: #C8C1B9;
    background-image: url("/media/swing_chair.jpg");
    background-repeat: no-repeat;
	background-size: cover;
	background-position: 40%;
	overflow: hidden;
    height: 650px;
    width: 100%
}

.extra-padding-top {
    padding-top: 20rem;
}

.text-container-2 {
    text-align: center;
}

.text-container-2 h1 {
    font-size: 30px;
}

.text-container-2 p {
    font-size: 20px;
    margin: 10% 5% 10%;
}

#background-col-container .extra-padding-top {
    padding-top: 20rem;
}

#about-us-img-2 {
    background-color: #C8C1B9;
    background-image: url("/media/dye.jpg");
    background-repeat: no-repeat;
	background-size: cover;
	background-position: 40%;
	overflow: hidden;
    height: 650px;
    width: 100%
}

#about-us-img-3 {
    background-color: #C8C1B9;
    background-image: url("/media/people_walking.jpg");
    background-repeat: no-repeat;
	background-size: cover;
	background-position: 40%;
	overflow: hidden;
    height: 650px;
    width: 100%;
    margin: 0 auto;
}

.links-container {
    text-align: center;
}

.links-container hr {
    border: 1px solid;
    color: #6D6155;
    width: 20%;
    margin: 0 auto;
}

.links-container p {
    padding-top: 4rem;
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 20px
}

.links-container a {
    color: #6D6155;
}

.sign-up-container {
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 10rem;
}

.sign-up-container hr {
    border: 1px solid;
    color: #6D6155;
    width: 80%;
    margin: 0 auto;  
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.bk-to-store-link {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.bk-to-store-link p {
    font-size: 20px;
}

.bk-to-store-link hr {
    border: 1px solid;
    color: #6D6155;
    width: 20%;
    margin: 0 auto;
}

.bk-to-store-link a {
    color: #6D6155;
}


/* ------------------------------------------ media queries */

/*  small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    /*------------------ nav bar */
    .navbar .navbar-brand {
        display: none;
    }

}

/*  small devices (phones, 600px to 768px) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
     /*------------------ nav bar */
     .navbar .navbar-brand {
        display: none;
    }

    /*------------------ index page */
    #header-block {
        height: 600px;
    }

    #header-block h1 {
        font-size: 40px;
        margin-top: 2rem;
    }

    #header-block #logo-tile {
        height: 80%;
        width: 55%;
    }

    .image-container #category-img-1 {
        background-position: 10% 90%;
    }

    .image-container #category-img-1 {
        height: 700px;
    }

    .image-container #category-img-2 {
        height: 700px;
    }

    .image-container #category-img-3 {
        height: 700px;
    }

    .image-container h1 {
        margin-top: 6rem;
    }

    /*------------------ about page */

    .bk-to-store-link {
        margin-top: 8rem;
    }

    .sign-up-container hr {
        width: 55%;
    }
    
    /*------------------ footer */

     footer hr {
        width: 30%;
    }
}

/* Medium devices (large phones and tablets, 768px to 992px) */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    /*------------------ nav bar */
    .navbar .navbar-brand {
        display: none;
    }

    /*------------------ index page */

    #header-block {
        height: 650px;
    }

    #header-block h1 {
        margin-top: 3rem;
    }

    #header-block #logo-tile {
        height: 80%;
        width: 50%;
    }

    .text-container hr {
        width: 30%;
    }

    .image-container #category-img-1 {
        background-position: center;
    }

    .image-container #category-img-1 {
        height: 700px;
    }

    .image-container #category-img-2 {
        height: 700px;
    }

    .image-container #category-img-3 {
        height: 700px;
    }

    #background-col-container #ehtos-image {
        height: 700px;
        width: 70%;
        margin: 0 auto;
        margin-top: 2rem;
    }

    /*------------------ about page */

    .links-container hr {
        width: 15%;
    }

    .sign-up-container {
        margin-top: 8rem;
        margin-bottom: 10rem;
    }
    
    .sign-up-container hr {
        width: 45%;
    }

    .bk-to-store-link hr {
        width: 15%;
    }

    .text-container-2 h1 {
        font-size: 35px;
    }

    /*------------------ footer */

    .social-media-icons {
        padding-top: 15%;
    }

    #small-print {
        padding-bottom: 15%;
    }

    footer hr {
        width: 20%;
    }
}

/* Large devices (laptops/desktops, 992px to 1200px) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {

    /*------------------ nav bar */
    .navbar .navbar-brand {
        font-size: 40px;
    }

    .navbar {
        padding-left: 0;
    }

    /*------------------ index page */
    #header-block {
        height: 700px;
    }

    #header-block h1 {
        margin-top: 3rem;
        font-size: 40px;
    }

    #header-block #logo-tile {
        height: 80%;
        width: 40%;
    }

    .text-container p {
        margin: 12% 20% 9%;
        padding-bottom: 0;
        font-size: 22px;
    }

    .text-container .custom-link hr {
        width: 20%;
        margin-bottom: 1rem;
    }

    .image-container #category-img-1 {
        height: 750px;
    }

    .image-container #category-img-2 {
        height: 750px;
    }

    .image-container #category-img-3 {
        height: 750px;
    }

    #background-col-container #ehtos-image {
        height: 800px;
        width: 50%;
        margin: 0 auto;
    }

    #background-col-container h1 {
        font-size: 40px;
        padding-bottom: 0;
        padding-top: 9rem;
    }

    /*------------------ about page */

     .links-container hr {
        width: 10%;
    }

    .sign-up-container {
        margin-top: 8rem;
        margin-bottom: 12rem;
    }
    
    .sign-up-container hr {
        width: 40%;
    }

    .bk-to-store-link hr {
        width: 15%;
    }

    .text-container-2 h1 {
        font-size: 40px;
    }

    /*------------------ footer */

     .social-media-icons {
        padding-top: 15%;
    }

    #small-print {
        padding-bottom: 15%;
    }

    footer hr {
        width: 20%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    /*------------------ nav bar */
    .navbar .navbar-brand {
        font-size: 55px;
    }

    .navbar {
        padding-left: 0;
    }

     /*------------------ index page */
     #header-block {
        height: 750px;
        margin-bottom: 10rem;
    }

    #header-block h1 {
        font-size: 50px;
    }

    #header-block #logo-tile {
        width: 30%;
    }

    .text-container h1 {
        font-size: 45px;
        padding-top: 5rem;
    }

    .text-container p {
        margin: 5% 25% 9%;
        padding-bottom: 0;
        font-size: 25px;
    }

    .text-container .custom-link a {
        font-size: 35px;
    }

    .text-container hr {
        width: 15%;
    }

    .text-container .custom-link hr {
        width: 15%;
    }

    .image-container #category-img-1 {
        height: 800px;
    }

    .image-container #category-img-2 {
        height: 800px;
    }

    .image-container #category-img-3 {
        height: 800px;
    }

    .image-container h1 {
        margin-top: 8rem;
    }

    #background-col-container #ehtos-image {
        height: 800px;
        width: 50%;
        margin: 0 auto;
        margin-top: 2rem;
    }

    #background-col-container h1 {
        font-size: 40px;
        padding-bottom: 0;
        padding-top: 9rem;
    }

    #background-col-container .custom-link a {
        font-size: 30px;
    }


    /*------------------ about page */

    #half-width-container {
        width: 60%;
    }

    #about-us-img-1,  #about-us-img-3 {
        height: 950px;
        background-position: 90% 10%;
    }

    #about-us-img-2 {
        height: 850px;
        background-position: 30% 70%;
    }

    #about-us-img-3 {
        height: 950px;
        background-position: 10% 90%;
    }

    .links-container hr {
        width: 10%;
    }
    
    .links-container p {
        padding-top: 6rem;
    }

    .sign-up-container {
        margin-top: 15rem;
        margin-bottom: 15rem;
    }
    
    .sign-up-container hr {
        width: 25%;
    }

    .bk-to-store-link hr {
        width: 8%;
        margin-bottom: 8rem;
    }

    .text-container-2 h1 {
        font-size: 40px;
    }


    /*------------------ footer */
    .social-media-icons {
        padding-top: 10%;
    }

    #small-print {
        padding-bottom: 10%;
    }

    footer hr {
        width: 10%;
    }

}

