

/* payment form */

#payment-form fieldset .fieldset-label {
    font-family: 'Libre Bondi', serif;
    color: #A4917E;
}


#payment-form .form-check-label a {
    text-decoration: none;
}

#payment-form .form-check-label a:hover {
    text-decoration: underline;
    color: #6D6155;
}
