/* google font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,100;1,300;1,400&family=Libre+Bodoni&display=swap');


* {
	margin: 0;
	padding: 0;
}

/* ------------------------------------------ back to top button */

#back-to-top-arrow {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    color: #6D6155; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    font-size: 25px; /* Increase font size */
    background-color: transparent;
}

#back-to-top-arrow:hover i {
    color: #C8C1B9;
    
}

/* ------------------------------------------ back to previous page btn */

.go-bk-btn {
    text-align: center;
    margin-top: 8rem;
}


/* ------------------------------------------ all products */

/* header container */
#product-header {
    background-color: #EFE9E2;
    height: 230px;
    text-align: left;
}

#product-header h1 {
    font-size: 60px;
    color: #A4917E;
    letter-spacing: 4px;
    margin-top: 5rem;
}

#product-header h3 {
    font-size: 20px;
    color: #A4917E;
}

/* search bar container */
.search-bar-container {
    text-align: left;
    padding: 0;
}

.search-bar-container form {
   text-align: left;
}

.form-control {
    background-color: transparent;
    border: none;
    font-family: 'Libre Bondi', serif;
    padding: 5px 5px 5px 12px;
    font-size: 18px;
    margin-left: 2px;
}

.search-bar-container hr {
    width: 10%;
    border: 1px solid #6D6155;
    margin-left: 1rem;
}

/* drop down */
.filter-by-price-container {
    text-align: left;
    font-size: 25px;
    padding: 0;
}

.filter-by-price-container li a {
    font-size: 18px;
    color: grey;
}

.filter-by-price-container li a:hover {
    color: #6D6155;
}

.filter-by-price-container hr {
    width: 10%;
    border: 1px solid #6D6155;
    margin-left: 1rem;
}

.dropdown-toggle::after {
    display: none;
}


::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px;
    text-align: start;
    text-align-last: start;
}

li.nav-item.dropdown {
    list-style-type: none;
}

/* image display */
.card-body {
    color: #6D6155;
}

.card-body p {
    font-size: 25px;
}

.card-footer p {
    font-size: 20px;
}

.card img {
    height: 650px;
    object-fit: cover;
}


/* ------------------------------------------ product info */

.image-container {
    text-align: center;
}

.image-container img {
    margin-bottom: 2rem;
}

.image-container p {
    font-size: 25px;
    color: #6D6155;
}

.image-container hr {
    border: 1px solid #6D6155;
    width: 20%;
    margin: 0 auto;
}

.qty-selector-container {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.prouct-info-container {
    margin-bottom: 5rem;
}

.prouct-info-container h1 {
    font-size: 30px;
    margin-bottom: 2rem;
}

.prouct-info-container p {
    font-size: 20px;
}

/* ------------------------------------------ media queries */

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .card img {
        height: 900px;
        object-fit: cover;
    }

    .image-container img {
        height: 800px;
        object-fit: cover;
    }

    .image-container {
       margin-top: 8rem;
    }
    
}