/* google font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,100;1,300;1,400&family=Libre+Bodoni&display=swap');


* {
	margin: 0;
	padding: 0;
}


/* ------------------------------------------ back to previous page btn */

.go-bk-btn {
    text-align: center;
    margin-top: 8rem;
}


/* ------------------------------------------ all products */

/* header container */
#product-header {
    background-color: #EFE9E2;
    height: 230px;
    text-align: left;
    color: #6D6155;
}

#product-header h1 {
    font-size: 60px;
    letter-spacing: 4px;
    margin-top: 4rem;
}

#product-header p {
    color: #6D6155;
}

/* search bar container */

.form-control {
    background-color: transparent;
    border: 1px solid #A4917E;
    font-family: 'Libre Bondi', serif;
    padding: 5px 5px 5px 12px;
    font-size: 18px;
    margin-left: 2px;
}

/* drop down */
.sort-by-price-container .dropdown-toggle {
    padding-top: 0;
}

.sort-by-price-container {
    text-align: left;
    padding: 0;
}

.sort-by-price-container li a {
    color:#6D6155;
}

.sort-by-price-container li a:hover {
    color: #A4917E;
}

.dropdown-toggle::after {
    display: none;
}

::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px;
    text-align: start;
    text-align-last: start;
}

li.nav-item.dropdown {
    list-style-type: none;
}

/* image display */
.card-body {
    color: #6D6155;
}

.card-body p {
    font-size: 25px;
}

.card-footer p {
    font-size: 20px;
}

.card img {
    height: 650px;
    object-fit: cover;
}


/* ------------------------------------------ product info */

.image-container {
    text-align: center;
}

.image-container img {
    margin-bottom: 2rem;
}

.image-container p {
    font-size: 25px;
    color: #6D6155;
}

.category-tag {
    text-align: center;
    color: #A4917E;
}

.category-tag .col {
    padding: 0;
}

.category-tag p a {
    font-size: 15px;
    color: #A4917E;
}

.image-container hr {
    border: 1px solid #6D6155;
    width: 20%;
    margin: 0 auto;
}

.qty-selector-container {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.prouct-info-container {
    margin-bottom: 5rem;
}

.prouct-info-container h1 {
    font-size: 30px;
    margin-bottom: 2rem;
}

.prouct-info-container p {
    font-size: 20px;
}

/* ------------------------------------------ media queries */

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .card img {
        height: 900px;
        object-fit: cover;
    }

    .image-container img {
        height: 800px;
        object-fit: cover;
    }

    .image-container {
       margin-top: 8rem;
    }

    #product-header {
        margin-top: 6rem;
    }

    
}