/* buttons and links */

.go-bk-btn {
    text-align: center;
    margin-top: 8rem;
}

a {
    color: #6D6155;
}

/* ------------------------------------------ all products page */

/* header container */
#all-product-header {
    background-color: #EFE9E2;
    height: 230px;
    text-align: left;
    color: #6D6155;
}

#all-product-header h1 {
    font-size: 60px;
    letter-spacing: 4px;
    margin-top: 4rem;
}

#all-product-header p {
    color: #6D6155;
}

/* search bar container */
.form-control {
    background-color: transparent;
    border: 1px solid #A4917E;
    font-family: 'Libre Bondi', serif;
    padding: 5px 5px 5px 12px;
    font-size: 18px;
    margin-left: 2px;
}

/* drop down */
.sort-by-price-container .dropdown-toggle {
    padding-top: 0;
}

.sort-by-price-container {
    text-align: left;
    padding: 0;
}

.sort-by-price-container li a {
    color:#6D6155;
}

.sort-by-price-container li a:hover {
    color: #A4917E;
}

.dropdown-toggle::after {
    display: none;
}

::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px;
    text-align: start;
    text-align-last: start;
}

li.nav-item.dropdown {
    list-style-type: none;
}

.back-to-all-product-link {
    margin-top: 2rem;
    text-align: left;
}

.back-to-all-product-link a {
    color: #6D6155;
    text-decoration: none;
}

.back-to-all-product-link a:hover {
    color: #A4917E;
    text-decoration: underline;
}

/* image display */
.card a {
    padding-left: 0;
    padding-right: 0;
}

.card-body {
    color: #6D6155;
    text-align: left;
}

.card-body p {
    font-size: 20px;
}

.card-body .text-smaller {
    font-size: 18px;
}

.card img {
    height: 650px;
    object-fit: cover;
}

.category-tag {
    text-align: left;
    color: #EFE9E2;
    font-size: 12px;
}


/* ------------------------------------------ product info page */

.product-image-container {
    text-align: left;
}

.product-image-container img {
    margin-bottom: 1rem;
}

.product-info h3 {
    font-size: 22px;
}

.product-info p {
    font-size: 18px;
}


/*  +/- selector boxes */
.qty-selector-container {
    text-align: left;
    margin-top: 3rem;
}

.qty-selector-container .form-control {
    padding: 1.5rem;
}

.input-group-prepend .decrement-qty {
    font-size: 16px;
}

.input-group-append .increment-qty {
    font-size: 16px;
}

/* artisan section */
.background-col-container {
    background-color: #F3ECE4;
    height: auto;
}

#artisan-image img {
    background-color: red;
    height: 300px;
    height: 400px;
    width: 100%;
}

/* product review */
#product-reviews .card {
    border: none;
}

#product-reviews .card-header, .card-footer {
    background-color: transparent;
    border-bottom: none;
}

#product-reviews .card-header {
    white-space: nowrap;
    overflow-x: auto;
}

#product-reviews .card-header h5 {
    display: inline-block;
    float: right;
}

#product-reviews .card-header h3 {
    display: inline-block;
    float: left;
}


/* ------------------------------------------ add product page */

.add-product-header {
    text-align: center;
    height: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.add-product-header hr {
    margin: 0 auto;
}

.add-product-header h2 {
    font-size: 30px;
}

.container-center {
    text-align: center;
}

.container-center .push-to-center {
    margin: 0 auto;
}

.add_product_form .btn, a {
    padding: 1rem 2rem;
}

.extra-margin-bottom {
    margin-bottom: 8rem;
}

/* product form */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border: none;
    background-color: #A4917E;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #6D6155;
    border: none;
    border-radius: 0;
}


/* ------------------------------------------ media queries */

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    /*------------------------- all products */

    .card img {
        height: 900px;
        object-fit: cover;
    }

    #all-product-header {
        margin-top: 6rem;
        height: 260px;
    }

    /*------------------------- product info */
 
    .product-image-container img {
        height: 60vw;
        width: 80vw;
        object-fit: cover;
    }

    .product-info .product-name {
        font-size: 30px;
    }

}