{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'user_profiles/css/user_profiles.css' %}">
{% endblock %}

{% block content %}

<!-- header -->
<div class="container-fluid profile-header mb-5">
    <div class="row">
        <div class="col-12 mb-4" id="logo-circle">
            <img src="{{ MEDIA_URL }}ca_logo.jpg">
        </div>
        <div class="col-12 mt-4">
            <h2>Hello, {{ profile.user }}</h2>
        </div>
    </div>
</div>

<!-- Delivery info / order history / wish list -->
<!-- bootstrap accordian source https://getbootstrap.com/docs/5.2/components/accordion/#content -->
<div class="container-fluid extra-margin-bottom center-container">
    <div class="row">
        <div class="col-12 col-lg-6 push-to-center">
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Default Delivery Info
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <form class="mt-4" action="{% url 'profile' %}" method="POST" id="user-profile-update-form">
                            {% csrf_token %}
                            {{ form | crispy }}
                            <button class="btn">Update</button>
                        </form>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                      Order History
                    </button>
                  </h2>
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div class="row order-history">
                          {% if orders %}
                              {% for order in orders %}
                              <div class="col-6">
                                  <p>Order ID:
                                      <a href="{% url 'order_history' order.order_id %}" title="{{ order.order_id }}">
                                          {{ order.order_id }}
                                      </a>
                                  </p>
                              </div>
                              <div class="col-6">
                                  <p>Order Date: {{ order.order_date }}</p>
                              </div>
                              {% endfor %}
                            {% else %}
                              <div class="col">
                                <p>You have no orders at the moment.</p>
                                <p>Take a look at our latest <a href="{% url 'products' %}">Collections</a></p>
                              </div>
                          {% endif %}
                        </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>







{% endblock %}

