{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'user_profiles/css/user_profiles.css' %}">
{% endblock %}

{% block content %}

<!-- header -->
<div class="container-fluid profile-header mb-5">
    <div class="row">
        <div class="col-12" id="logo-circle">
            <img src="/media/ca_logo.png">
        </div>
        <div class="col-12 mt-4">
            <h2>{{ profile.user }} | Your Wish List </h2>
        </div>
        <div class="col-12 mt-4 mb-4">
            <hr>
        </div>
    </div>
</div>

<!-- wish list items -->
<div class="container-fluid">
    <div class="row">
        <!--if items in wishlist -->
        {% for product in wishlist.products.all %}
            {{ product.name }}
            <a href="{% url 'remove_from_wishlist' product.id %}">Remove from wish list</a>
        {% empty %}
            <h1>THIS SHIT IS FUCKING EMPTY</h1>
        {% endfor %}
        <div class="col-sm-12 col-md-4" id="wishlist-card">
            <div class="card border-0">
                <img class="card-img-top" src="#" alt="Card image cap">
                <div class="card-header">
                    <h2>{{ product.name }}</h2>
                </div>
                <div class="card-body">
                  <p class="card-text">
                      product description 
                  </p>
                </div>
                <div class="card-footer">
                    <p>Delete</p>
                </div>
              </div>
        </div>
        
        <!--if wish list is empty -->
        <div class="col-12">
            <h2 class="mb-3">Your Wishlist is empty</h2>
            <p>Add to your Wishlist by cliking on the heart icon. You can save items here and remove them as needed.</p>
            <br>
            <p>Need some inspirarion? <a href="{% url 'products' %}">View Products</a></p>
        </div>
    </div>
</div>




{% endblock %}