{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- header -->
<h1>shopping bag</h1>

<!-- render shopping bag items -->
<div class="container-fluid">
    <div class="row">
        <div class="col">
            {% if bag_items %}
                <div class="tabel-responsive rounded">
                    {{ bag_items }}
                </div>
                <!--grand total-->
                <div class="text-center">
                    <p class="my-0">
                        {% if grand_total %}
                            ${{ grand_total|floatformat:2 }}
                        {% else %}
                            $0.00
                        {% endif %}
                    </p>
                </div>
            {% else %}
                <p>Your bag is empty</p>
                <span>Continue Shopping</span>
                <a href="{% url 'products' %}"></a>
            {% endif %}
        </div>
    </div>
</div>



{% endblock %}



{% block postloadjs %}
{% endblock %}