{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'shopping_bag/css/shopping_bag.css' %}">
{% endblock %}

{% load bag_tools %}

{% block content %}

<!-- header -->
<div class="container-fluid bag-header-container">
    <div class="row">
        <div class="col-12">
            <h1>Your Bag</h1>
        </div>
        <div class="col-12 back-to-all-product-link mt-3">
            <a href="{% url 'products' %}"><i class="fa-solid fa-angle-left mr-1"></i>Back to all products</a>
        </div>
    </div>
</div>


<!-- render shopping bag items -->
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <!--items in bag-->
            {% if bag_items %}
                <div class="tabel-responsive">
                    <table class="table table-sm table-borderless">
                        <thead class="text-black">
                            <tr>
                                <th scope="col" class="text-capitalize font-weight-normal">Product</th>
                                <th scope="col" class="text-capitalize font-weight-normal">Unit Price</th>
                                <th scope="col" class="text-capitalize font-weight-normal">Qty</th>
                                <th scope="col" class="text-capitalize font-weight-normal">Subtotal</th>
                            </tr>
                        </thead>

                        {% for item in bag_items %}
                            <tr>
                                <td class="w-25 mb-5">
                                    <img class="img-fluid" src="{{ item.product.image.url }}">
                                    <p>{{ item.product.name }}</p>
                                    <a class="remove-item mt-2" id="remove_{{ item.item_id }}">Remove</a>
                                    <hr>
                                </td>
                                <td>
                                    <p class="my-0 mt-5">£{{ item.product.price }}</p>
                                </td>
                                <td>
                                    <form class="form update-form mt-5" method="POST" action="{% url 'adjust_bag_qty' item.item_id %}">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend-bag">
                                                    <button class="decrement-qty btn btn-sm" 
                                                        data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                        <span><i class="fas fa-minus fa-sm"></i></span>
                                                    </button>
                                                </div>
                                                <input class="form-control form-control-sm qty_input" type="number"
                                                    name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                    data-item_id="{{ item.item_id }}"
                                                    id="id_qty_{{ item.item_id }}">
                                                <div class="input-group-append-bag">
                                                    <button class="increment-qty btn btn-sm"
                                                        data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                        <span><i class="fas fa-plus fa-sm"></i></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <a class="update-link">Update</a>
                                    <hr class="w-50">
                                </td>
                                <td class="py-3">
                                    <p class="my-0 mt-5">£{{ item.product.price | calc_subtotal:item.quantity }}</p>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td>
                                <p class="my-0 mt-5 float-left">Total number of items: {{product_count}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="pt-5 text-right">
                                <hr>
                                <h5>Bag Total: £{{ total|floatformat:2 }}</h5>
                                <h5>Delivery: £{{ delivery|floatformat:2 }}</h5>
                                <hr>
                                <h3 class="mt-5 mb-5">Grand Total: £{{ grand_total|floatformat:2 }}</h3>
                                {% if free_delivery_delta > 0 %}
                                    <p>
                                        Spend an extra £{{ free_delivery_delta }} to gain free delviery!
                                    </p>
                                {% endif %}
                            </td>
                        </tr>
                        <tr class="mt-5">
                            <td colspan="5" class="text-right">
                                <a href="{% url 'order_checkout' %}" class="btn">Checkout</a>
                            </td>
                        </tr>
                    </table>
                </div>
            {% else %}
                <div id="bag-empty-container">
                    <h2>You have no items in your shopping basket.</h2>
                    <hr class="mt-4 mb-4">
                    <a href="{% url 'products' %}" class="btn">Continue Shopping</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}


{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/shopping_bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}