
<footer>
    <div class="social-media-icons">
       <a href="https://www.instagram.com/" target="blank" rel="noreferrer" aria-label="Take a look at our facebook, opens in a new tab">
           <i class="fa-brands fa-instagram"></i>
        </a> 
       <a href="https://www.facebook.com/casaaranaofficial/" target="blank" rel="noreferrer" aria-label="Take a look at our instagram, opens in a new tab">
           <i class="fa-brands fa-facebook-square"></i>
        </a> 
    </div>
    <div>
        <p>info@casaarana.com</p>
    </div>
    <hr>
    <div class="mt-3" id="small-print">
        <strong>
            <span>© 2022 CASA ARANA, Inc</span>
        </strong>
    </div>
</footer>