{% load static %}

<!doctype html>
<html lang="en">
  <head>
    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <!-- Bootstrap-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!-- Bootswatch Lux for nav bar, buttons and input functionalities -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/bootswatch@5.1.3/dist/lux/bootstrap.min.css,npm/bootswatch@5.1.3/dist/lux/bootstrap.min.css">
        <!-- custom css -->
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css%}
      <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
    {% endblock %}

    {% block corejs %}
        <!-- font awesome -->
        <script src="https://kit.fontawesome.com/7583353a22.js" crossorigin="anonymous"></script>
        <!-- Jquery -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <!-- boostrap js -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <!-- Stripe -->
        <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Casa Arana {% block extra_title %}{% endblock %}</title>
  </head>
  <body>

    {% include 'includes/navbar.html' %}

    {% if messages %}
      <div class="message-container">
        {% for message in messages %}
          {% with message.level as level %}
            {% if level == 40 %} <!-- error -->
                {% include 'includes/toasts/toast_error.html' %}
            {% elif level == 30 %} <!-- warning -->
                {% include 'includes/toasts/toast_warning.html' %}
            {% elif level == 25 %} <!-- success -->
                {% include 'includes/toasts/toast_success.html' %}
            {% else %} <!-- default, info -->
                {% include 'includes/toasts/toast_info.html' %} 
            {% endif %}
          {% endwith %}
        {% endfor %}
      </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% include 'includes/footer.html' %}

    {% block postloadjs %}
      <script type="text/javascript">
        // toast fucntionality 
        $(document).ready(function () {
          var toastElList = [].slice.call(document.querySelectorAll('.toast'))
          var toastList = toastElList.map(function (toastEl) {
            let newToast = new bootstrap.Toast(toastEl)
            newToast.show();
          })
        })
      </script>
    {% endblock %}


  </body>
</html>