
/* header */
.profile-header {
    text-align: center;
    margin-top: 4rem;
}

#logo-circle {
    margin: 0 auto;
}

#logo-circle img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

/* form */
#user-profile-update-form {
    font-family: 'Libre Caslon Display', serif;
    color: #6D6155;
    text-align: left;
}

#user-profile-update-form .form-control {
    padding-top: 0px;
    padding-bottom: 0px;

}

#user-profile-update-form button {
    font-size: 16px;
}

/* accordian */
.accordion-button:not(.collapsed) {
    color: #6D6155;
    background-color: #F2EDE8;
}

.center-container {
    text-align: center;
}

.center-container .push-to-center {
    margin: 0 auto;
}

/* order hisotry */
.order-history {
    font-family: 'Libre Caslon Display', serif;
}

.order-history a {
    color: #55595C;
}

/* ------------------------------------------ wishlisr page */

#wishlist-card .card-header, .card-footer {
    background-color: transparent;
    border-bottom: none;
}

#wishlist-card .card-img-top {
    height: 500px;
    width: 100%;
    background-color: #F2EDE8;
}