
/* header */

.profile-header {
    text-align: center;
}

#logo-circle {
    margin: 0 auto;
}

#logo-circle img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

/* form */
#user-profile-update-form {
    font-family: 'Libre Bondi', serif;
    color: #6D6155;
    text-align: left;
}

#user-profile-update-form .form-control {
    padding-top: 0px;
    padding-bottom: 0px;

}

/* accordian */
.accordion-button:not(.collapsed) {
    color: #6D6155;
    background-color: #F2EDE8;
}
