/* ------------------------------------------ order checkout page */

/* payment form */

#payment-form fieldset .fieldset-label {
    font-family: 'Libre Bondi', serif;
    color: #A4917E;
}

#payment-form .form-check-label a {
    text-decoration: none;
}

#payment-form .form-check-label a:hover {
    text-decoration: underline;
    color: #6D6155;
}

/* Stripe */

.StripeElement,
.custom-stripe-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}


.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.custom-stripe-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#card-element {
    border: 1px solid #A4917E;
}

/* ------------------------------------------ checkout success */

