h1, h2, h3, h5 {
    font-family: 'Libre Caslon Display', serif;
    text-transform: unset;
    font-weight: 300;
    color: #6D6155;
}

/* ------------------------------------------ order checkout page */

/* header */
.bag-header-container {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.bag-header-container h1 {
    font-size: 45px;
    color: #A4917E;
}

/* payment form */
#payment-form .form-check-label a {
    text-decoration: none;
    color: #A4917E;
}

#payment-form .form-check-label a:hover {
    text-decoration: underline;
    color: #6D6155;
}

.custom-stripe-input {
    border: #DCDADA solid 1px;
}

fieldset label p {
    color: #A4917E;
}

.form-check-input:checked {
    background-color: #A4917E;
    border-color: transparent;
}

/* Stripe */
.StripeElement,
.custom-stripe-input {
  font-family: 'Libre Caslon Display', serif;
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border-radius: 0px;
  background-color: white;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.custom-stripe-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#card-element {
    border: 1px solid #DCDADA;
}

#card-errors {
 font-family: 'Libre Caslon Display', serif;
} 

/* country drop down*/
select,
select option {
    color: #6D6155;
}

select:invalid,
select option[value=""] {
    color: #aab7c4 !important;
}


select#id_country.custom-stripe-input.lazyselect.form-control {
    padding-top: 0px;
    padding-bottom: 0px;
}


/* process payment overlay */
#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%; 
    background: rgba(250, 246, 242, 0.7);
    z-index: 9999;
}

.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

.loading-spinner i {
    color: #A4917E;
}

/* ------------------------------------------ checkout success */

.checkout-success-container {
    margin-top: 2rem;
    margin-bottom: 4rem;
    text-align: center;
}

.checkout-success-container h1 {
    font-size: 45px;
    color: #A4917E;
}

.order-summary-container {
    background-color: #F2EDE8;
    margin: 0 auto;
    text-align: left;
}

.order-summary-container p {
    text-align: left;
}

.container-center {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 5rem;
}

.bk-to-store-link {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 5rem;
    margin: 0 auto;
}

.bk-to-store-link h2 {
    color: #6D6155;
}

.bk-to-store-link a  {
    text-decoration: none;
}


.bk-to-store-link a h2:hover {
    color: #A4917E;
    text-decoration: underline;
}



/* ------------------------------------------ media queries */

/* Medium devices (large phones and tablets, 768px to 992px) */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .bk-to-store-link {
        width: 50%;
    }
}

/* Large devices (laptops/desktops, 992px to 1200px) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {

    .bk-to-store-link {
        width: 60%;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px)  {

    .bk-to-store-link {
        width: 60%;
    }
}