h1, h2, h3, h5 {
    font-family: 'Libre Bondi', serif;
    text-transform: unset;
    font-weight: 300;
    color: #6D6155;
}

/* ------------------------------------------ order checkout page */

/* header */
.bag-header-container {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.bag-header-container h1 {
    font-size: 45px;
    color: #A4917E;
}

/* payment form */
#payment-form .form-check-label a {
    text-decoration: none;
}

#payment-form .form-check-label a:hover {
    text-decoration: underline;
    color: #6D6155;
}

.custom-stripe-input {
    border: #DCDADA solid 1px;
}

fieldset label p {
    color: #A4917E;
}

.form-check-input:checked {
    background-color: #A4917E;
    border-color: transparent;
}

/* Stripe */
.StripeElement,
.custom-stripe-input {
  font-family: 'Libre Bondi', serif;
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border-radius: 0px;
  background-color: white;
  /* box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease; */
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.custom-stripe-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#card-element {
    border: 1px solid #DCDADA;
}

/* ------------------------------------------ checkout success */

.order-summary-container {
    background-color: #FAF6F2;
}

.image-container {
    text-align: center;
}

#checkout-success-img-1 {
    background-color: #C8C1B9;
    background-image: url('/media/berber-bazaar-l040UDKHN-o-unsplash.jpg');
    background-repeat: no-repeat;
	background-size: cover;
	background-position: 40%;
	overflow: hidden;
    height: 550px;
    width: 90%;
    margin: 0 auto;
}

#checkout-success-img-1 a h1 {
    color: purple;
    font-size: 60px;
}

#checkout-success-img-1 a h1:hover {
    color: hotpink;
}

