{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid" id="product-header">
    <div class="row">
        <div class="col">
            <h1>Shop</h1>
        </div>
    </div>
    <div class="row">
        <div class="col mt-4 search-bar-container">
            <form class="d-flex col-sm-12 col-md-6">
                <input class="form-control" type="text" placeholder="Search here...">
            </form>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        {% for product in products %}
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div class="card h-100 border-0 mt-5">
                <a href="{% url 'product_info' product.id %}">
                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                <div class="card-body text-center">
                    <p>{{ product.name }}</p>
                    <div class="card-footer bg-white border-0">
                        <div class="row">
                            <div class="col">
                                <p>${{ product.price }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="extra-padding-top"></div>

{% endblock %}