{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block content %}

<!-- search bar-->
<div class="container search-bar-container mt-4 mb-4 float-xl-left">
    <div class="row">
        <div class="col col-xl-6">
            <form class="form" method="GET" action="{% url 'products' %}">
                <input class="form-control" type="text" name="q" placeholder="Search here...">
            </form>
        </div>  
    </div>
</div>

<!-- header with sorting -->
<div class="container-fluid mb-4" id="all-product-header">
    <div class="row">
        <div class="col">
            <h1>Shop</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-2 text-left">
            <!--add change event so that when the user clicks on a category the category name will appear -->
            <p>{{ products|length }} Products {% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}</p> 
        </div>
        <div class="col-12 sort-by-price-container mt-2 text-left">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Sort By <i class="fa-solid fa-angle-down"></i></a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=asc">Price - Lowest to Highest</a>
                    <a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=desc">Price - Highest to Lowest</a>
                </div>
            </li>
        </div>
    </div>
</div>


<!-- products -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="back-to-all-product-link">
                {% if search_term or current_categories or current_sorting != 'None_None' %}
                    <a href="{% url 'products' %}" class="pl-1"><i class="fa-solid fa-angle-left mr-1"></i>Back to all products</a>
                {% endif %}
            </div>
        </div>
        {% for product in products %}
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <!-- product image -->
            <div class="card h-100 border-0">
                <a href="{% url 'product_info' product.id %}">
                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                <!-- category tag -->
                <a class="text-decoration-none pt-0" href="{% url 'products' %}?category={{ product.category.name }}">
                    <i class="fa-solid fa-circle category-tag mr-1"></i>{{ product.category.name }}
                </a>
                <!-- card body -->
                <div class="card-body pl-0 pt-0">
                    <p>{{ product.name }}</p>
                    <p class="text-smaller">£{{ product.price }}</p>
                    {% if request.user.is_superuser %}
                        <small>
                            <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                            <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                        </small>
                    {% endif %}
                </div>                 
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="extra-padding-top"></div>

<!-- back to top button -->
<div class="back-to-top-container">
    <button onclick="topFunction()" id="back-to-top-arrow" title="Go to top"><i class="fa-solid fa-angle-up"></i></button>
</div>


{% endblock %}

{% block postloadjs %}
    {{ block.super }}

    <script type="text/javascript">
		//Get the button:
        mybutton = document.getElementById("back-to-top-arrow");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }
	</script>
{% endblock %}