{% extends "base.html" %}
{% load static %}

{% block content %}


<!-- search bar-->
<div class="container search-bar-container mt-4 mb-4 float-xl-left">
    <div class="row">
        <div class="col col-xl-6">
            <form class="form" method="GET" action="{% url 'products' %}">
                <input class="form-control" type="text" name="q" placeholder="Search here...">
            </form>
        </div>  
    </div>
</div>

<!-- header with sorting -->
<div class="container-fluid" id="product-header">
    <div class="row">
        <div class="col">
            <h1>Shop</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-3 col-xl-3 mt-2">
            <p>All Products</p>
        </div>
        <div class="col-3 col-xl-3 mt-2">
            <p>
                {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
            </p>
        </div>
        <div class="col-3 col-xl-3 sort-by-price-container mt-2">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Sort By</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=asc">Price - Lowest to Highest</a>
                    <a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=desc">Price - Highest to Lowest</a>
                </div>
            </li>
        </div>
    </div>
</div>

<!-- back to products link -->
<div class="container">
    <div class="row">
        <div class="col mt-4">
            <p>
                {% if search_term or current_categories or current_sorting != 'None_None' %}
                    <span class="small"><a href="{% url 'products' %}">Products Home</a></span>
                {% endif %}
            </p>
        </div>
    </div>
</div>

<!-- products -->
<div class="container-fluid">
    <div class="row">
        {% for product in products %}
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div class="card h-100 border-0 mt-5">
                <a href="{% url 'product_info' product.id %}">
                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                <div class="card-body text-center">
                    <p>{{ product.name }}</p>
                    <div class="card-footer bg-white border-0">
                        <div class="row">
                            <div class="col">
                                <p>${{ product.price }}</p>
                            </div>
                            <div class="category-tag mt-0">
                                <div class="row">
                                    <div class="col-12">
                                        <p><a class="text-decoration-none" href="{% url 'products' %}?category={{ product.category.name }}">{{ product.category.name }}</a></p>
                                    </div>
                                    <div class="col-12">
                                        <i class="fa-solid fa-circle"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


<div class="extra-padding-top"></div>

<!-- back to top button -->
<div class="back-to-top-container">
    <button onclick="topFunction()" id="back-to-top-arrow" title="Go to top"><i class="fa-solid fa-angle-up"></i></button>
</div>


{% endblock %}

{% block postloadjs %}
    {{ block.super }}

    <script type="text/javascript">
		//Get the button:
        mybutton = document.getElementById("back-to-top-arrow");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }
	</script>
{% endblock %}