{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block content %}

<div class="container-fluid mt-5 mb-5">
    <div class="row">
        <div class="col-12 text-left mb-4">
            <a href="{% url 'product_info' product.id %}" onclick="history.back()" class="text-decoration-none p-0"><i class="fa-solid fa-angle-left mr-1"></i>Back</a>
        </div>
        <div class="col-12 text-center mt-4 mb-4">
            <h2 class="mb-4">Let us know what you think</h2>
            <hr class="mb-4">
        </div>
        <div class="col-sm-12 col-md-5 mb-5">
            <img class="img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
        </div>
        <div class="col-sm-12 col-md-7">
            <div class="container-fluid">
                <div class="row g-0">
                    <div class="col-12 mb-4">
                        <h2>{{ product.name }}</h2>
                    </div>
                    <div class="col-12 mb-4">
                        <p>{{ product.description}}</p>
                    </div>
                    <div class="col-12 ">
                        <form method="POST" action="" role="form" id="product-review-form">
                            {% csrf_token %}
                            {{ form | crispy }}
                            <button type="submit" name="action" class="btn">Submit Review</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}