{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block content %}

<!-- Product info -->
<div class="container-fluid mt-5">
    <div class="row">
        <!-- back link -->
        <div class="col-12 text-left mb-2">
            <span>
                <a href="{% url 'products' %}" onclick="history.back()" class="text-decoration-none p-0"><i class="fa-solid fa-angle-left mr-1"></i>Back</a>
            </span>
        </div>
        <!-- product image -->
        <div class="col-sm-12 col-md-12 col-lg-7 product-image-container">
            <a href="{{ product.image.url }}" target="_blank" class="pl-0 pr-0">
                <img class="img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
            </a>
        </div>
        <!-- product info section -->
        <div class="col-sm-12 col-md-12 col-lg-5 text-left product-info">
            <a class="text-decoration-none pl-0" href="{% url 'products' %}?category={{ product.category.name }}">
                <i class="fa-solid fa-circle category-tag mr-1"></i>{{ product.category.name }}
            </a>
            <div class="row">
                <div class="col-12">
                    <h3 class="mt-4 product-name">{{ product.name }}</h3>
                    <h3 class="mt-4">£{{ product.price }}</h3>
                </div>
                {% if request.user.is_superuser %}
                    <div class="col-12 mt-4 mb-4 text-left pl-0">
                        <small>
                            <a href="{% url 'edit_product' product.id %}" class="pl-3">Edit</a> | 
                            <a class="text-danger pl-3" href="{% url 'delete_product' product.id %}">Delete</a>
                        </small>
                    </div>
                {% endif %}
                <div class="col-12">
                    <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="pl-0 qty-selector-container">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn rounded-0" 
                                            data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                            <span><i class="fas fa-minus"></i></span>
                                        </button>
                                    </div>
                                    <input class="form-control qty_input col-sm-3 col-lg-2" type="number"
                                        name="quantity" value="1" min="1" max="99"
                                        data-item_id="{{ product.id }}"
                                        id="id_qty_{{ product.id }}">
                                    <div class="input-group-append">
                                        <button class="increment-qty btn rounded-0"
                                            data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                            <span><i class="fas fa-plus"></i></span>
                                        </button>
                                    </div>
                                    <input type="submit" class="btn rounded-0 ml-3" value="Add to Bag">
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </form>
                </div>
                <div class="col-12 mt-4">
                    <h3>Color</h3>
                    <p class="mt-2">{{ product.color }}</p>
                </div>
                <div class="col-12 mt-4">
                    <h3>Description</h3>
                    <p class="mt-4">{{ product.description }}</p>
                </div>
                <div class="col-12 mt-4">
                    <h3>Composition and Dimensions</h3>
                    <p class="mt-4">Composition: {{ product.composition }}</p>
                    <p class="mt-4">Dimensions: {{ product.dimensions }}</p>
                </div>
                <div class="col-12 mt-4">
                    <h3>Features</h3>
                    <p class="mt-4">{{ product.features }}</p>
                </div>
            </div>
        </div>
        <!-- Artisan section -->
        <div class="col-12 pl-0 pr-0">
            <div class="background-col-container mt-5 mb-5" id="artisan-info">
                <div class="row g-0">
                    <div class="col-sm-12 col-md-7 mb-4">
                        <h2 class="pb-4">Made By</h2>
                        <h2 class="mt-4">{{ product.artisan.name }}</h2>
                        <p>{{ product.artisan.story }}</p>
                        <a href="#">View their profile</a>
                    </div>
                    <div class="col-sm-12 col-md-4 mb-5">
                        <div id="artisan-image" class="col">
                            <img class="img-fluid text-right" src="{{ product.artisan.profile_image.url }}" alt="{{ product.artisan.name }}" >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Product reviews -->
<div class="container-fluid mb-5 pl-0 pr-0" id="product-reviews">
    <div class="row g-0">
        <div class="col-12 text-left">
            <h2 class="ml-3">Product Reviews</h2>
        </div>
        <div class="col-12 mt-3 mb-3">
            <hr>
        </div>
        <div class="row">
            <div class="col-12">
                {% for review in reviews %}
                <div class="card">
                    <div class="card-header">
                        <h3>{{ review.title }}</h3>
                        <h5 class="mt-2 pr-0">{{ review.date }}</h5>
                    </div>
                    <div class="card-body pl-0 pb-0">
                        <div class="col-12">
                            <p class="card-text">{{ review.text }}.</p>
                        </div>
                        <div class="col-12 mt-5">
                            <h3>{{ reivew.rating }}</h3>
                        </div>
                    </div>
                    <div class="card-footer pt-0">
                        <p>{{ review.user.username }}</p>
                    </div>
                </div>
                 <!-- leave review -->
                    {% if request.user.is_authenticated %}
                        <div class="col-12 mt-5 mb-5 pl-3">
                            <a href="{% url 'product_review' product.id %}" class="btn">Leave a Review</a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <!-- if product has no reviews -->
            {% if reviews|length == 0  %}
            <div class="col-12 mt-3">
                <h3>No reviews yet, be the first one</h3>
                <a href="{% url 'product_review' product.id %}" class="btn mt-3 mb-5">Leave a Review</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>






{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}