{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- product image -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
            <div class="image-container mt-5">
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                <div class="col">
                    <p>{{ product.name }}</p>
                    <p>${{ product.price }}</p>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- qty selector -->
<div class="container">
    <div class="row qty-selector-container">
        <div class="col">
            <form action="/action_page.php">
                <label for="quantity"></label>
                <input type="number" id="quantity" name="quantity" min="0" max="100">
                <button>Add to basket</button>
            </form>
        </div>
    </div>
</div>

<!-- product info -->
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="prouct-info-container">
                <h1>Description</h1>
                <p>{{ product.description }}</p>
            </div>
            <div class="prouct-info-container">
                <h1>Composition and Dimensions</h1>
                <p>{{ product.dimensions_and_composition }}</p>
            </div>
        </div>
    </div>
</div>

<!-- back to previous page -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-l-12 col-xl-12 go-bk-btn">
            <button onclick="history.back()" type="button" class="btn">Back</button>
        </div>
    </div>
</div>

<div class="extra-padding-top"></div>


{% endblock %}